<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<form class="needs-validation" action="/products" method="POST" novalidate>
  <div class="container mt-4" >
    <div class="mb-3" style="width: 50vw;" >
      <label for="img" class="form-label">image url</label>
      <input type="text" class="form-control" id="img" placeholder="url" name="product[img]" required>
      <div class="invalid-feedback">
        url is required to add image for your product.
      </div>
    </div>
    <div class="mb-3" style="width: 50vw;">
        <label for="name" class="form-label">Product name</label>
        <input type="text" class="form-control" id="name" placeholder="Product name" name="product[name]" required>
        <div class="invalid-feedback">
          You must give a name.
        </div>
        <div class="valid-feedback">
          Your name is beautiful.
        </div>
      </div>
    <div class="mb-3" style="width: 50vw;">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" placeholder="Price" name="product[price]" required>
      <div class="invalid-feedback">
        Can't procceed without price.
      </div>
    </div>
    <div class="mb-3" style="width: 50vw;">
        <label for="desc" class="form-label">Product Description</label>
      
        <textarea class="form-control" id="desc" cols="30" rows="5" name="product[desc]" required></textarea>
        <div class="invalid-feedback">
          Add some description.
        </div>
      </div>
    <button type="submit" class="btn btn-success" >Submit</button>
  </div> 
</form>


<%- include("../partials/footer")%>