<%- include("./partials/header")%>
<%- include("./partials/navbar")%>

<br><br>

<%-include("./partials/flash")%>
<br>


    <div class=" container mt-5 mb-5 text-center">
        <h1 style="color: red;">Oops...</h1>
        <img src="/assets/error.jpeg" alt="This is a Error Page" style="height: 42vh; width: 46vw;">
    </div>


<%- include("./partials/footer")%>
