<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container "  >
    <div class="row">
      <div class="col col-lg-6 col-md-8 lol-sm-18 " id="login-form">
        <form class="needs-validation" action="/sellerlogin" method="POST" novalidate>
          <%- include("../partials/flash")%>
          <h5 class="display-5 login-head" > Seller Login</h5>
          <br>
          <div class="login mb-3"  >
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username" required>
            <div class="invalid-feedback">
              username is required to verify you
            </div>
          </div>
          
          <div class="login mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
            <div class="invalid-feedback">
              Can't leave this field empty.
            </div>
          </div>
          
          <div class="login-btn">
            <button type="submit" class="btn btn-primary mb-3" >Login</button>
          </div>
      </form>
      <div class="atag">
        <a href="/login" style="text-decoration: none;" >User Login</a>
      </div>
      </div>
    </div>
</div>


<%- include("../partials/footer")%>